<script>

let carrito = JSON.parse(localStorage.getItem('pm_carrito') || '[]');


// GUARDAR
function carritoGuardar() {
    localStorage.setItem(
        'pm_carrito',
        JSON.stringify(carrito)
    );
}



// AGREGAR PRODUCTO
function agregarAlCarrito(id_producto, nombre, precio, stock) {

    const existe = carrito.find(
        item => item.id_producto === id_producto
    );


    if (existe) {

        if (existe.cantidad >= stock) {

            carritoToast('⚠️ Sin más stock disponible');
            return;

        }


        existe.cantidad++;

    } else {


        carrito.push({

            id_producto: id_producto,

            nombre: nombre,

            precio: Number(precio),

            cantidad: 1,

            stock: stock

        });

    }


    carritoGuardar();

    carritoRender();

    carritoToast(
        '✅ ' + nombre + ' agregado'
    );

}





// CAMBIAR CANTIDAD
function carritoSetCantidad(id_producto, cambio) {


    const item = carrito.find(
        i => i.id_producto === id_producto
    );


    if (!item) return;



    item.cantidad += cambio;



    if (item.cantidad <= 0) {


        carrito =
        carrito.filter(
            i => i.id_producto !== id_producto
        );


    }


    if (item.cantidad > item.stock) {

        item.cantidad = item.stock;

    }


    carritoGuardar();

    carritoRender();

}




// ELIMINAR
function carritoRemove(id_producto) {


    carrito =
    carrito.filter(
        i => i.id_producto !== id_producto
    );


    carritoGuardar();

    carritoRender();

}





// VACIAR
function carritoClear(){

    carrito=[];

    carritoGuardar();

    carritoRender();

}




// MOSTRAR CARRITO
function carritoRender(){


    const container =
    document.getElementById('cdr-items');


    const count =
    document.getElementById('carrito-count');


    const total =
    document.getElementById('cdr-total');



    const cantidad =
    carrito.reduce(
        (s,i)=>s+i.cantidad,
        0
    );



    const precio =
    carrito.reduce(
        (s,i)=>s+(i.precio*i.cantidad),
        0
    );



    count.textContent=cantidad;


    count.classList.toggle(
        'visible',
        cantidad>0
    );



    total.textContent =
    '$'+precio.toLocaleString('es-CL');




    if(carrito.length===0){


        container.innerHTML=`

        <div class="cdr-empty">

            <div class="cdr-empty-icon">
            🛒
            </div>

            <p>
            Tu carrito está vacío
            </p>

        </div>

        `;

        return;

    }




    container.innerHTML = carrito.map(item=>`

    <div class="cdr-item">


        <div class="cdr-item-img">
        🛋️
        </div>



        <div class="cdr-item-info">


            <div class="cdr-item-name">

            ${item.nombre}

            </div>



            <div class="cdr-item-price">

            $${item.precio.toLocaleString('es-CL')}

            </div>


        </div>




        <div class="cdr-qty">


            <button
            class="cdr-qty-btn"
            onclick="carritoSetCantidad(${item.id_producto},-1)">
            -
            </button>



            <span class="cdr-qty-num">

            ${item.cantidad}

            </span>




            <button
            class="cdr-qty-btn"
            onclick="carritoSetCantidad(${item.id_producto},1)">
            +
            </button>


        </div>



        <button
        class="cdr-remove"
        onclick="carritoRemove(${item.id_producto})">

        ✕

        </button>


    </div>


    `).join('');

}





// CHECKOUT MERCADO PAGO
async function carritoCheckout(){


    if(carrito.length===0){

        carritoToast(
        '⚠️ Carrito vacío'
        );

        return;

    }




    try{


        const res = await fetch(
            '/carrito/checkout',
            {

            method:'POST',

            headers:{

                'Content-Type':
                'application/json'

            },


            body:JSON.stringify({

                items: carrito.map(item=>({

                    id_producto:
                    item.id_producto,


                    nombre:
                    item.nombre,


                    precio:
                    item.precio,


                    cantidad:
                    item.cantidad

                }))

            })


        });



        const data =
        await res.json();




        if(data.checkout_url){


            carrito=[];

            carritoGuardar();


            window.location.href =
            data.checkout_url;


        }
        else{


            carritoToast(
            '❌ '+data.error
            );


        }



    }
    catch(error){


        console.log(error);


        carritoToast(
        '❌ Error de conexión'
        );


    }


}





// ABRIR
function carritoAbrir(){

document
.getElementById('carrito-overlay')
.classList.add('open');


document
.getElementById('carrito-drawer')
.classList.add('open');

}





// CERRAR
function carritoCerrar(){


document
.getElementById('carrito-overlay')
.classList.remove('open');


document
.getElementById('carrito-drawer')
.classList.remove('open');


}





// MENSAJE
let toastTimer;


function carritoToast(msg){


const el =
document.getElementById('cdr-toast');


document.getElementById(
'cdr-toast-text'
).textContent=msg;



el.classList.add('show');



clearTimeout(toastTimer);



toastTimer=setTimeout(()=>{


el.classList.remove('show');


},2500);



}




carritoRender();


</script>
